@using Business_Logic_Layer.DTO;
@using UILayer.Services;
@using Radzen;
@inject OrderService orderService
@inject NavigationManager navManager
@inject DialogService DialogService

@code {
    [Parameter]
    public int orderID { get; set; }
    public OrderDto updatedOrder { get; set; }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        updatedOrder = await orderService.GetOrder(orderID);
        ShowInlineDialog(orderID);
    }

    private async Task Save()
    {
        try
        {
            await orderService.EditOrder(updatedOrder);
            navManager.NavigateTo("./Order", forceLoad: true);
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private async Task Cancel()
    {
        navManager.NavigateTo("./Order");
    }

    async Task ShowInlineDialog(int id)
    {
        var result = await DialogService.OpenAsync($"Edit Order with ID {id}", ds =>
    @<RadzenStack Gap="1.5rem">
        <p>
            <RadzenTemplateForm TItem="OrderDto" Data=@updatedOrder Submit="@(() => { Save(); })">
                <div style="display:flex; flex-direction: column;">
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Customer ID</RadzenText>
                        <RadzenTextBox Name="CustomerId" MaxLength="5" style="width: 100%;" @bind-Value="@updatedOrder.CustomerId" />
                        <RadzenRequiredValidator Component="CustomerId" Text="Customer ID is required" Style="position:center" />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Employee ID</RadzenText>
                        <RadzenNumeric Name="EmployeeId" ShowUpDown="false" TValue="int?" style="width: 100%;" @bind-Value=@updatedOrder.EmployeeId />
                        <RadzenRequiredValidator Component="EmployeeId" Text="Employee ID is required" Style="position:center" />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Order Date</RadzenText>
                        <RadzenDatePicker style="width: 100%;" @bind-Value=@updatedOrder.OrderDate />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Required Date</RadzenText>
                        <RadzenDatePicker style="width: 100%;" @bind-Value="@updatedOrder.RequiredDate" />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Shipped Date</RadzenText>
                        <RadzenDatePicker style="width: 100%;" @bind-Value=@updatedOrder.ShippedDate />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship Via</RadzenText>
                        <RadzenNumeric Name="ShipVia" ShowUpDown="false" TValue="int?" style="width: 100%;" @bind-Value=@updatedOrder.ShipVia />
                        <RadzenRequiredValidator Component="ShipVia" Text="Ship Via is required" Style="position:center" />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Freight</RadzenText>
                        <RadzenNumeric ShowUpDown="false" TValue="decimal?" style="width: 100%;" @bind-Value=@updatedOrder.Freight />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship Name</RadzenText>
                        <RadzenTextBox style="width: 100%;" @bind-Value=@updatedOrder.ShipName />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship Address</RadzenText>
                        <RadzenTextBox style="width: 100%;" @bind-Value=@updatedOrder.ShipAddress />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship City</RadzenText>
                        <RadzenTextBox style="width: 100%;" @bind-Value=@updatedOrder.ShipCity />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship Region</RadzenText>
                        <RadzenTextBox style="width: 100%;" @bind-Value=@updatedOrder.ShipRegion />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship Postal Code</RadzenText>
                        <RadzenTextBox style="width: 100%;" @bind-Value=@updatedOrder.ShipPostalCode />
                    </div><br>
                    <div style="display:flex;">
                        <RadzenText TextStyle="TextStyle.Subtitle1" style="width: 24%;">Ship Country</RadzenText>
                        <RadzenTextBox style="width: 100%;" @bind-Value=@updatedOrder.ShipCountry />
                    </div><br>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <RadzenButton Text="Cancel" Click="Cancel" Icon="close" ButtonStyle="ButtonStyle.Light" style="margin-right:20px;" />
                    <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Icon="save" ButtonStyle="ButtonStyle.Success" style="margin-left:20px;" />
                </div>
            </RadzenTemplateForm>
        </p>
    </RadzenStack>
    );
        DialogService.Close();
    }
}
